# Python
__pycache__/
*.py[cod]
*$py.class

# Build
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLAlchemy / SQLite
*.db
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Docker volumes (si existieran)
postgres_data/

# Reportes y Archivos de MindAlert
reports/
*.pdf